.submitButton {
  padding: 3.2rem;
  border-radius: 2.4rem;
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  color: var(--pure-white);
  font-size: 2.8rem;
  font-family: "Rubik Medium";
}

.noAnswerSelected {
  opacity: 50%;
  cursor: not-allowed;
}

.answerSelected {
  cursor: pointer;
  opacity: 100%;
}

@media (max-width: 420px) {
  .submitButton {
    padding: 1.2rem;
    font-size: 1.8rem;
    border-radius: 1.2rem;
  }
}
